@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins/font";

.menu{
  display: flex;

  &__hamburguer{
    display: none;
  }

  &__list{
    display: flex;
    align-items: center;

    &-item{

      a{
        @include font-source('Roboto', 16px, $white, normal, normal);
        padding: 5px 20px;
        text-decoration: none;
      }
    }
  }

  &__user{
    display: flex;
    align-items: center;

    &:hover{
      cursor: pointer;
    }
    
    p{
      @include font-source('Roboto', 16px, $white, bold, normal);
      padding: 0 15px;
      border-left: 1px solid $white;
    }

    span{
      display: flex;
      align-items: center;

      &::after{
        border-top: 5px solid $white;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        content: "";
      }
    }
  }

  &__box{
    background-color: $white;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    right: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
    z-index: 10;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    &::before{
      position: absolute;
      top: -5px;
      right: 5px;
      border-bottom: 5px solid #fff;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      content: "";
    }

    &.active{
      top: 70px;
      opacity: 1;
      visibility: visible;
    }

    button{
      color: $orange-light;
      font-weight: 700;
      font-size: 15px;
      background-color: transparent;
      border: none;

      &:hover{
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 767px){

  .menu{

    &.open{

      .menu__hamburguer{
         span{
          
          i:not(:nth-child(2)){
            width: 22px;
          }

          i:nth-child(2){
            width: 30px;
          }
         }
      }

      nav{
        transform: translateX(0)
      }
    }

    &__hamburguer{
      border: none;
      background-color: transparent;
      display: block;
      color: $white;
      outline: none;

      &:hover{
        cursor: pointer;
      }

      span{
        display: flex;
        flex-wrap: wrap;
        width: 30px;
        justify-content: flex-end;

        i{
          background-color: $white;
          height: 2.5px;
          display: block;
          margin-bottom: 8px;
          border-radius: 2px;
          transition: all 0.3s ease-in-out;

          &:not(:nth-child(2)){
            width: 30px;
          }

          &:nth-child(2){
            width: 22px;
          }

          &:last-child{
            margin-top: 0;
          }
        }
      }
    }

    nav{
      position: fixed;
      right: 0;
      top: 80px;
      height: 100%;
      background-color: #ffffff;
      width: 250px;
      transform: translateX(250px);
      transition: all 0.3s ease-in-out;
    }

    &__list{
      display: block;
      text-align: right;
      padding: 15px 0;

      &-item{
        line-height: 35px;

        a{
          color: $blue-4b;
        }
      }
    }
  }
}