$white       : #ffffff;
$gray-f5     : #F5F6FA;
$gray-e5     : #E5E5E5;
$gray-c4     : #C4C4C4;
$blue-8c     : #8C91A9;
$blue-6a     : #6A6E81;
$blue-4b     : #4B4E5C;
$orange-light: #FF8700;
$orange      : #FF500F;
$red: #d62121;