@import "../../styles/abstracts/variables.scss";
@import "../../styles/abstracts/mixins/font";
@import "../../styles/abstracts/mixins/button";
@import "../../styles/abstracts/mixins/input";
@import "../../styles/abstracts/mixins/message";

.form-list{
  margin-top: -30px;
  background-color: $white;
  border-radius: 15px;
  padding: 50px 115px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  overflow: hidden;

  &__entry{
    width: 560px;

    &-item{

      &:not(:first-child){
        margin-top: 16px;
      }

      label{
        @include font-source('Inter', 14px, $blue-8c, 600, 18px);
      }

      >div{
        display: flex;
        align-items: center;

        span{
          @include font-source('Inter', 18px, $blue-8c, normal, 24px);
          margin-top: 5px;
          padding-left: 16px;
          height: 48px;
          border-radius: 5px 0 0 5px;
          background-color: $gray-f5;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      input, textarea{
        @include font-source('Inter', 18px, $blue-4b, normal, 24px);
        @include input();
      }
      
      textarea{
        border-radius: 5px;
        resize: none;
      }

      input{
        border-radius: 0 5px 5px 0;
      }
    }
  }

  &__send{
    width: 220px;
    display: flex;
    flex-wrap: wrap;

    > label{
      @include font-source('Inter', 14px, $blue-8c, 600, 18px);
      margin-top: 15px;

      a{
        color: $blue-8c;
      }
    }

  }
  
  &__submit{
    @include font-source("Inter", 16px, $white, 600, 20px);
    @include button();
  }

  &__checkbox{
    margin-top: 15px;

    label[for='check-terms']:before{
      content: '';
      display: inline-block;
      height: 18px;
      width: 18px;
      background: $white;
      border: 1px solid $orange;
      border-radius: 5px;
      margin-right: 10px;
      cursor: pointer;
    }
    input[type='checkbox']{
      display: none;

      &:checked + label[for='check-terms']:before{
        background: url("../../assets/images/check.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
      }
    }
  }

  &__message{
    @include message();
    bottom: -70px;

    &.active{
      bottom: 10px;
    }
  }
}

@media (max-width: 767px){

  .form-list{
    margin-top: 0;
    margin-bottom: 20px;
    padding: 8px 0;
    justify-content: center;
  }
}