@mixin message {
  background-color: rgba(0,0,0,0.8);
  color: $white;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  line-height: initial;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  width: 300px;
}